/* --------------------------------------------------
   Hero
-------------------------------------------------- */
@include bem-block(hero) {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100vh;
	background-color: rgba(1,145,200,0.8);
	margin: 0;
	color:$white;
	text-align: center;

	@include bem-element(background-image) {
		height: 100%;
		position: absolute;
		bottom: 0;
		margin: 0 auto;
		width: auto;
		left: 0;
		z-index: -1;
		
		@include breakpoint(medium-large) {
			width: 100%;
			height: auto;
		}

		@include screen(435px, 773px, landscape) {
			height: auto;
			width: 100%;
		}

		@include ipad(landscape) {
			height: auto;
			width: 130%;
		}
	}

	@include bem-element(header) {
		@include font-size(30);
		margin-top: 220px;
		margin-bottom: 20px;

		@include breakpoint(small) {
			@include font-size(50);
		}

		@include breakpoint(small-medium) {
			@include font-size(65);
		}

		@include screen(435px, 773px, landscape) {
			margin-top: 70px;
			@include font-size(50);
		}
	}

	@include bem-element(subheader) {
		@include font-size(22);
    	
	    	@include breakpoint(medium) {
			@include font-size(28);
		}
	}

	@include bem-element(subheader, small) {
		@include font-size(16);
		margin-top: 55px;
    	
	    @include breakpoint(medium) {
			@include font-size(20);
		}

		@include screen(435px, 773px, landscape) {
			margin-top: 21px;
			@include font-size(13);
		}
		
	}

	@include bem-element(icon) {
		color: $red1;
		@include font-size(20);
	}

	@include bem-element(button) {
		text-align: center;
		@include font-size(50);
		margin: 0 auto;
		width: 100px;
		left: 0;
		right: 8px;
		color:$white;
		position: absolute;
		bottom: 60px;
		cursor: pointer;
		-webkit-animation: pulsate 2s ease-out;
		-webkit-animation-iteration-count: infinite; 
		
		@include screen(435px, 773px, landscape) {
			bottom: 20px;
			@include font-size(40);
		}
	}

	@include bem-element(button-text) {
		opacity: 0;
		position: absolute;
		bottom: 65px;
		margin: 0 auto;
		left: 0;
		right: 0;	
		transition: all 1.2s;
		text-align: center;
		color:$white;
		background-color: transparent;
		@include font-size(16);
	}

	@include bem-element(button-text,showed) {
		opacity: 1;
		transition: all 1.2s;
		bottom: 120px;
	}
}