/* --------------------------------------------------
   Hero
-------------------------------------------------- */
@include bem-block(hero) {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100vh;
	background-color: rgba(1,145,200,0.8);
	margin: 0;
	color:$white;
	text-align: center;

	@include bem-element(image) {
		height: 100%;
		position: absolute;
		bottom: 0;
		margin: 0 auto;
		width: auto;
		left: 0;
		z-index: -1;
		
		@include breakpoint(medium-large) {
			width: 100%;
			height: auto;
		}
	}

	@include bem-element(header) {
		@include font-size(50);
		margin-top: 250px;
		color: $white;

		@include breakpoint(small-medium) {
			@include font-size(65);
		}
	}

	@include bem-element(subheader) {
		@include font-size(18);
		margin-top: 25px;
    	
	    	@include breakpoint(medium) {
			@include font-size(22);
		}
	}

	@include bem-element(icon) {
		color: $red1;
		@include font-size(20);
	}

	@include bem-element(button) {
		text-align: center;
		@include font-size(50);
		margin: 0 auto;
		width: 100px;
		left: 0;
		right: 8px;
		color:$white;
		position: absolute;
		bottom: 60px;
		cursor: pointer;
		-webkit-animation: pulsate 2s ease-out;
		-webkit-animation-iteration-count: infinite; 
	}

	@include bem-element(button-text) {
		opacity: 0;
		position: absolute;
		bottom: 65px;
		margin: 0 auto;
		left: 0;
		right: 0;	
		transition: all 1.2s;
		text-align: center;
		color:$white;
		background-color: transparent;
		@include font-size(16);
	}

	@include bem-element(button-text,showed) {
		opacity: 1;
		transition: all 1.2s;
		bottom: 120px;
	}
}