/* --------------------------------------------------
   Hero
-------------------------------------------------- */
@include bem-block(hero) {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 80vh;
	min-height:350px;
	background-color: rgba(1,145,200,0.8);
	margin: 0;
	color:$white;
	text-align: center;

	@include bem-element(image) {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		margin-top: -100px;
	}

	@include bem-element(header) {
		@include font-size(50);
		margin-top: 180px;
		color: $white;

		@include breakpoint(small-medium) {
			@include font-size(65);
		}
	}

	@include bem-element(subheader) {
		@include font-size(18);
		margin-top: 25px;
    	
	    	@include breakpoint(medium) {
			@include font-size(22);
		}
	}

	@include bem-element(button) {
		text-align: center;
		@include font-size(50);
		margin: 0 auto;
		width: 100%;
		color:$green;
		position: absolute;
		left: 0;
		right: 0;
		bottom: -60px;
		cursor: pointer;
		-webkit-animation: pulsate 2s ease-out;
		-webkit-animation-iteration-count: infinite; 
	}

}