/* --------------------------------------------------
   Footer
-------------------------------------------------- */

@include bem-block(footer) {
	z-index: 5;
	width: 100%;
	background-color: $footer;
	padding: 40px;
	text-align: center;
	border-top: 5px solid darken($footer, 5%);
	
	@include bem-element(header) {
		color:lighten($footer, 20%);
		line-height: 40px;
	}

}