/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_self
 */
/* --------------------------------------------------
  Imports
-------------------------------------------------- */
/* --------------------------------------------------
  Core
-------------------------------------------------- */
/* --------------------------------------------------
  Greys
-------------------------------------------------- */
/* --------------------------------------------------
  Reds
-------------------------------------------------- */
/* --------------------------------------------------
  Yellows
-------------------------------------------------- */
/* --------------------------------------------------
  Greens
-------------------------------------------------- */
/* --------------------------------------------------
  Blues
-------------------------------------------------- */
/* --------------------------------------------------
   Browns
-------------------------------------------------- */
/* --------------------------------------------------
   Pink
-------------------------------------------------- */
/* --------------------------------------------------
   Orange
-------------------------------------------------- */
@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1); }
  50% {
    -webkit-transform: scale(1.15); }
  100% {
    -webkit-transform: scale(1); } }
/**************************************************
 * Sass mixins that allow you to write proper BEM
 * with one level nesting for cascading block
 * modifiers in a very convenient way.
 * https://mindtheshift.wordpress.com/2014/10/15/getting-the-best-out-of-bem-with-sass/
 * http://codepen.io/gionkunz/pen/rkswl?editors=010
 *
 * Free to use under the WTFPL license.
 * http://www.wtfpl.net/
 **************************************************/
/*$mq-large: "screen and (min-width: 1024px)";

// Regular block styling and basic element stylings
@include bem-block(my-block) {
  font-family: "Block " + extract-block-name(&);

  @include bem-element(my-element) {
    font-family: "Block " + extract-block-name(&);
  }
}

// Block modifier with cascading element styles and element modifier
@include bem-block(my-block, prominent) {
  font-family: "Block " + extract-block-name(&);

  @include bem-element(my-element) {
    font-family: "Block " + extract-block-name(&);
  }

  @include bem-element(my-element, huge) {
    font-family: "Block " + extract-block-name(&);
  }
}

// Block with modifier and pseudo selector as well as element with modifier and pseudo selector
@include bem-block(my-block, prominent, hover) {
  font-family: "Block " + extract-block-name(&);

  @include bem-element(my-element, huge, active) {
    font-family: "Block " + extract-block-name(&);
  }
}

// Lets define some media queries for the above block
@include bem-block(my-block, $media: $mq-large) {
  font-family: "Block " + extract-block-name(&);

  @include bem-element(my-element) {
    font-family: "Block " + extract-block-name(&);
  }
}

// And also for some of the modifiers and element modifiers
@include bem-block(my-block, prominent, $media: $mq-large) {
  font-family: "Block " + extract-block-name(&);

  @include bem-element(my-element, huge, active) {
    font-family: "Block " + extract-block-name(&);
  }
}

*/
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* --------------------------------------------------
  General
-------------------------------------------------- */
html {
  font-size: 62.5%; }

body {
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased; }

/* --------------------------------------------------
  Headers
-------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  font-weight: 500; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit; }

h1 {
  font-size: 32px;
  font-size: 3.2rem;
  margin-top: 0.5em;
  margin-bottom: 0.67em; }

h2 {
  font-size: 24px;
  font-size: 2.4rem;
  margin-top: 0.5em;
  margin-bottom: 0.67em; }

h3 {
  font-size: 18px;
  font-size: 1.8rem;
  margin-top: 0.5em;
  margin-bottom: 0.67em; }

h4 {
  font-size: 16px;
  font-size: 1.6rem;
  margin-top: 0.5em;
  margin-bottom: 0.67em; }

h5 {
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: normal;
  margin-top: 0.5em;
  margin-bottom: 0.67em; }

h6 {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: normal;
  margin-top: 0.5em;
  margin-bottom: 0.67em; }

/* --------------------------------------------------
  Other
-------------------------------------------------- */
a {
  text-decoration: none;
  color: #FFF; }

li {
  list-style: none;
  margin: 0; }

ul {
  margin: 0;
  padding: 0; }

/* --------------------------------------------------
General Styling
-------------------------------------------------- */
html {
  height: 100%; }

body {
  margin: 0;
  background-color: #FFF;
  height: 100%;
  overflow: auto; }

::-webkit-scrollbar {
  display: none; }

*, *:after, *:before {
  -webkit-box-sizing: border-box !important;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box !important;
  /* Firefox, other Gecko */
  box-sizing: border-box !important;
  /* Opera/IE 8+ */ }
  *:focus, *:after:focus, *:before:focus {
    outline: none; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.hidden {
  display: none; }

.content-wrapper {
  width: 100%;
  padding: 0px 30px; }
  @media (min-width: 1200px) {
    .content-wrapper {
      width: 1080px;
      margin: 0 auto;
      padding: 0; } }

/*---------------------------------------------------
Hacks
---------------------------------------------------*/
.group:after, html:after, .content-wrapper:after, .group-wrap:after, .topbar:after, .section:after, .slider .slider__element:after {
  display: table;
  content: "";
  clear: both; }

.clear {
  clear: both; }

/* --------------------------------------------------
   Topbar
-------------------------------------------------- */
.topbar {
  width: 100%;
  background-color: transparent;
  z-index: 5;
  position: absolute;
  top: 0;
  text-align: center;
  height: 60px;
  color: #FFF; }
  .topbar .topbar__logoText {
    margin: 0 30px;
    letter-spacing: 1px;
    float: left;
    line-height: 60px;
    color: #FFF;
    font-size: 18px;
    font-size: 1.8rem; }
  .topbar .topbar__menu {
    float: right;
    padding: 10px 20px;
    display: block;
    font-size: 30px;
    font-size: 3rem;
    line-height: 40px;
    cursor: pointer; }
    @media (min-width: 634px) {
      .topbar .topbar__menu {
        display: none; } }

.topbar--scrolled {
  background-color: #25A0CF;
  position: fixed;
  transition: all 1.2s; }

.nav {
  text-align: center;
  display: none; }
  @media (min-width: 634px) {
    .nav {
      display: block !important; } }
  .nav .nav__listItem {
    display: inline-block;
    background-color: #FFF;
    width: 100%;
    line-height: 45px; }
    @media (min-width: 634px) {
      .nav .nav__listItem {
        width: auto;
        line-height: 59px;
        background-color: transparent; } }
    .nav .nav__listItem .nav__link {
      font-variant: small-caps;
      color: #25A0CF;
      padding: 5px 10px;
      cursor: pointer;
      position: relative;
      font-weight: 400;
      font-size: 20px;
      font-size: 2rem;
      letter-spacing: 1px; }
      @media (min-width: 634px) {
        .nav .nav__listItem .nav__link {
          color: #FFF; } }
      .nav .nav__listItem .nav__link:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1); }
    .nav .nav__listItem .nav__link:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: -1px;
      left: 0;
      background-color: #25A0CF;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.2s ease-in-out 0s;
      transition: all 0.2s ease-in-out 0s; }
      @media (min-width: 634px) {
        .nav .nav__listItem .nav__link:before {
          background-color: #FFF; } }
    .nav .nav__listItem .nav__link--active:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1); }

/* --------------------------------------------------
   Footer
-------------------------------------------------- */
.footer {
  z-index: 5;
  width: 100%;
  background-color: #313538;
  padding: 40px;
  text-align: center;
  border-top: 5px solid #25282a; }
  .footer .footer__header {
    color: #61686e;
    line-height: 40px; }

/* --------------------------------------------------
   Hero
-------------------------------------------------- */
.hero {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-color: rgba(1, 145, 200, 0.8);
  margin: 0;
  color: #FFF;
  text-align: center; }
  .hero .hero__background-image {
    height: 100%;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    width: auto;
    left: 0;
    z-index: -1; }
    @media (min-width: 960px) {
      .hero .hero__background-image {
        width: 100%;
        height: auto; } }
  .hero .hero__header {
    font-size: 30px;
    font-size: 3rem;
    margin-top: 220px;
    margin-bottom: 20px; }
    @media (min-width: 520px) {
      .hero .hero__header {
        font-size: 50px;
        font-size: 5rem; } }
    @media (min-width: 634px) {
      .hero .hero__header {
        font-size: 65px;
        font-size: 6.5rem; } }
  .hero .hero__subheader {
    font-size: 22px;
    font-size: 2.2rem; }
    @media (min-width: 768px) {
      .hero .hero__subheader {
        font-size: 28px;
        font-size: 2.8rem; } }
  .hero .hero__subheader--small {
    font-size: 16px;
    font-size: 1.6rem;
    margin-top: 55px; }
    @media (min-width: 768px) {
      .hero .hero__subheader--small {
        font-size: 20px;
        font-size: 2rem; } }
  .hero .hero__icon {
    color: #E66B5C;
    font-size: 20px;
    font-size: 2rem; }
  .hero .hero__button {
    text-align: center;
    font-size: 50px;
    font-size: 5rem;
    margin: 0 auto;
    width: 100px;
    left: 0;
    right: 8px;
    color: #FFF;
    position: absolute;
    bottom: 60px;
    cursor: pointer;
    -webkit-animation: pulsate 2s ease-out;
    -webkit-animation-iteration-count: infinite; }
  .hero .hero__button-text {
    opacity: 0;
    position: absolute;
    bottom: 65px;
    margin: 0 auto;
    left: 0;
    right: 0;
    transition: all 1.2s;
    text-align: center;
    color: #FFF;
    background-color: transparent;
    font-size: 16px;
    font-size: 1.6rem; }
  .hero .hero__button-text--showed {
    opacity: 1;
    transition: all 1.2s;
    bottom: 120px; }

/* --------------------------------------------------
   Sections
-------------------------------------------------- */
.section {
  text-align: center;
  background-color: #FFF;
  padding: 60px 0; }
  .section .section__header {
    color: #666;
    font-size: 30px;
    font-size: 3rem;
    font-weight: 400; }
  .section .section__text {
    padding: 10px;
    color: #8C8984;
    line-height: 37px;
    text-align: justify;
    font-size: 22px;
    font-size: 2.2rem; }
    @media (min-width: 520px) {
      .section .section__text {
        text-align: center;
        padding: 10px 40px; } }
    @media (min-width: 768px) {
      .section .section__text {
        padding: 10px 80px; } }

.section--grey {
  background-color: #F4F4F4; }

/* --------------------------------------------------
   Icon Break
-------------------------------------------------- */
.icon-break {
  text-align: center;
  width: 30px;
  margin: 0;
  padding: 0; }

/* --------------------------------------------------
   Containers
-------------------------------------------------- */
.container {
  padding: 20px;
  position: relative;
  float: left;
  width: 100%; }
  .container .container__header {
    color: #444;
    font-size: 22px;
    font-size: 2.2rem; }
  .container .container__text {
    color: #8C8984;
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 25px;
    text-align: justify; }
    @media (min-width: 520px) {
      .container .container__text {
        text-align: center; } }
  .container .container__span {
    color: #8C8984;
    margin: 0;
    font-size: 16px;
    font-size: 1.6rem; }
  .container .container__text--small {
    font-size: 14px;
    font-size: 1.4rem; }
  .container .container__icon {
    font-size: 40px;
    font-size: 4rem;
    color: #8C8984; }
  .container .container__icon--small {
    font-size: 25px;
    font-size: 2.5rem;
    color: #8C8984;
    margin: 10px; }
  .container .container__icon--scale:hover {
    -webkit-transition: all 0.2s ease;
    /* Safari and Chrome */
    -moz-transition: all 0.2s ease;
    /* Firefox */
    -o-transition: all 0.2s ease;
    /* IE 9 */
    -ms-transition: all 0.2s ease;
    /* Opera */
    transition: all 0.2s ease;
    -webkit-transform: scale(1.1);
    /* Safari and Chrome */
    -moz-transform: scale(1.1);
    /* Firefox */
    -ms-transform: scale(1.1);
    /* IE 9 */
    -o-transform: scale(1.1);
    /* Opera */
    transform: scale(1.1); }
  .container .fa-github {
    color: #333; }
  .container .fa-twitter {
    color: #1DA1F2; }
  .container .container__icon--blue {
    color: #25A0CF; }
  .container .container__icon--red {
    color: #E66B5C; }
  .container .container__icon--green {
    color: #83E1B6; }
  .container .container__icon--yellow {
    color: #FECD2F; }
  .container .container__icon--pink {
    color: #CD679A; }
  .container .container__icon--orange {
    color: #EF662A; }
  .container .container__image {
    width: 80%; }
  .container .container__image--small {
    width: 100%;
    border-radius: 2px; }
  .container .container__image-border {
    width: 60%;
    overflow: hidden;
    border: 10px solid #FFF;
    border-bottom: 30px solid #FFF;
    margin: 0 auto;
    border-radius: 2px;
    -webkit-box-shadow: 3px 6px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 3px 6px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 3px 6px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 3px 6px 0 rgba(0, 0, 0, 0.1); }
    @media (min-width: 634px) {
      .container .container__image-border {
        width: 70%; } }
    @media (min-width: 768px) {
      .container .container__image-border {
        width: 60%; } }
    @media (min-width: 960px) {
      .container .container__image-border {
        width: 100%; } }
  .container .container__image-border:hover {
    -webkit-transition: all 0.2s ease;
    /* Safari and Chrome */
    -moz-transition: all 0.2s ease;
    /* Firefox */
    -o-transition: all 0.2s ease;
    /* IE 9 */
    -ms-transition: all 0.2s ease;
    /* Opera */
    transition: all 0.2s ease;
    transform: translate(0px, -2px);
    -webkit-transform: translate(0px, -2px);
    /* Safari and Chrome */
    -moz-transform: translate(0px, -2px);
    /* Firefox */
    -ms-transform: translate(0px, -2px);
    /* IE 9 */
    -o-transform: translate(0px, -2px);
    /* Opera */ }
  .container .container__input {
    width: 90%;
    height: 30px;
    padding: 8px;
    margin: 10px;
    border-style: none;
    color: #8C8984;
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 25px;
    background-color: #F4F4F4; }
    @media (min-width: 768px) {
      .container .container__input {
        width: 70%; } }
  .container .container__input--message {
    height: 150px;
    resize: none; }
  .container .container__button-shadow {
    position: relative;
    width: 50%;
    height: 50px;
    display: block;
    background-color: #1d7fa4;
    margin: 5% auto;
    border-style: none;
    border-radius: 4px; }
    @media (min-width: 768px) {
      .container .container__button-shadow {
        width: 30%; } }
  .container .container__button {
    position: relative;
    top: -6px;
    width: 100%;
    height: 100%;
    display: block;
    font-weight: 200;
    background-color: #25A0CF;
    margin: 5% auto;
    cursor: pointer;
    color: #FFF;
    font-size: 18px;
    font-size: 1.8rem;
    border-style: none;
    border-radius: 4px;
    transition: all 0.15s;
    -webkit-appearance: none; }
  .container .container__button:hover {
    top: -2px; }

.container--third {
  width: 100%; }
  @media (min-width: 634px) {
    .container--third {
      width: 50%; } }
  @media (min-width: 768px) {
    .container--third {
      width: 33.333333%; } }

.container--half {
  width: 100%; }
  @media (min-width: 634px) {
    .container--half {
      width: 50%; } }

.container--right {
  float: left; }
  @media (min-width: 768px) {
    .container--right {
      float: right; } }

.container--min-height {
  min-height: 0; }
  @media (min-width: 634px) {
    .container--min-height {
      min-height: 262px; } }
  @media (min-width: 768px) {
    .container--min-height {
      min-height: 302px; } }

.container--half-breakpoint-small-medium {
  width: 100%; }
  @media (min-width: 634px) {
    .container--half-breakpoint-small-medium {
      width: 50%; } }

.container--half-breakpoint-medium-large {
  width: 100%;
  padding: 0; }
  @media (min-width: 960px) {
    .container--half-breakpoint-medium-large {
      width: 50%; } }

.container--link {
  cursor: pointer;
  height: 100%; }
  .container--link:hover {
    opacity: 0.9; }

/* --------------------------------------------------
   Slider
-------------------------------------------------- */
.slider {
  width: 100%; }
  .slider .slider__text-wrap {
    padding: 0px;
    min-height: 330px;
    width: 100%;
    float: left;
    text-align: center; }
    @media (min-width: 520px) {
      .slider .slider__text-wrap {
        padding: 0;
        padding-top: 20px; } }
    @media (min-width: 634px) {
      .slider .slider__text-wrap {
        padding: 0;
        padding-top: 40px; } }
    @media (min-width: 768px) {
      .slider .slider__text-wrap {
        width: 50%;
        min-height: 380px;
        padding: 40px;
        padding-bottom: 0;
        text-align: left; } }
  .slider .slider__image {
    width: 50%;
    float: left; }
    @media (min-width: 634px) {
      .slider .slider__image {
        width: 25%; } }
  .slider .slider__icon {
    font-size: 25px;
    float: left; }
  .slider .slider__header {
    font-size: 30px;
    font-size: 3rem; }
  .slider .slider__text {
    font-size: 20px;
    font-size: 2rem;
    color: #444;
    line-height: 30px; }

/*# sourceMappingURL=application.css.map */
