/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_self
 */
/* --------------------------------------------------
  Imports
-------------------------------------------------- */
/* --------------------------------------------------
  Widths and Heights
-------------------------------------------------- */
/* --------------------------------------------------
  Core
-------------------------------------------------- */
/* --------------------------------------------------
  Greys
-------------------------------------------------- */
/* --------------------------------------------------
  Reds
-------------------------------------------------- */
/* --------------------------------------------------
  Yellows
-------------------------------------------------- */
/* --------------------------------------------------
  Greens
-------------------------------------------------- */
/* --------------------------------------------------
  Blues
-------------------------------------------------- */
/* --------------------------------------------------
   Browns
-------------------------------------------------- */
@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1); }
  50% {
    -webkit-transform: scale(1.15); }
  100% {
    -webkit-transform: scale(1); } }
@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1); }
  50% {
    -webkit-transform: scale(1.15); }
  100% {
    -webkit-transform: scale(1); } }
/**************************************************
 * Sass mixins that allow you to write proper BEM
 * with one level nesting for cascading block
 * modifiers in a very convenient way.
 * https://mindtheshift.wordpress.com/2014/10/15/getting-the-best-out-of-bem-with-sass/
 * http://codepen.io/gionkunz/pen/rkswl?editors=010
 *
 * Free to use under the WTFPL license.
 * http://www.wtfpl.net/
 **************************************************/
/*$mq-large: "screen and (min-width: 1024px)";

// Regular block styling and basic element stylings
@include bem-block(my-block) {
  font-family: "Block " + extract-block-name(&);

  @include bem-element(my-element) {
    font-family: "Block " + extract-block-name(&);
  }
}

// Block modifier with cascading element styles and element modifier
@include bem-block(my-block, prominent) {
  font-family: "Block " + extract-block-name(&);

  @include bem-element(my-element) {
    font-family: "Block " + extract-block-name(&);
  }

  @include bem-element(my-element, huge) {
    font-family: "Block " + extract-block-name(&);
  }
}

// Block with modifier and pseudo selector as well as element with modifier and pseudo selector
@include bem-block(my-block, prominent, hover) {
  font-family: "Block " + extract-block-name(&);

  @include bem-element(my-element, huge, active) {
    font-family: "Block " + extract-block-name(&);
  }
}

// Lets define some media queries for the above block
@include bem-block(my-block, $media: $mq-large) {
  font-family: "Block " + extract-block-name(&);

  @include bem-element(my-element) {
    font-family: "Block " + extract-block-name(&);
  }
}

// And also for some of the modifiers and element modifiers
@include bem-block(my-block, prominent, $media: $mq-large) {
  font-family: "Block " + extract-block-name(&);

  @include bem-element(my-element, huge, active) {
    font-family: "Block " + extract-block-name(&);
  }
}

*/
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* --------------------------------------------------
  General
-------------------------------------------------- */
html {
  font-size: 62.5%; }

body {
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased; }

/* --------------------------------------------------
  Headers
-------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit; }

h1 {
  font-size: 32px;
  font-size: 3.2rem;
  margin-top: 0.5em;
  margin-bottom: 0.67em; }

h2 {
  font-size: 24px;
  font-size: 2.4rem;
  margin-top: 0.5em;
  margin-bottom: 0.67em; }

h3 {
  font-size: 18px;
  font-size: 1.8rem;
  margin-top: 0.5em;
  margin-bottom: 0.67em; }

h4 {
  font-size: 16px;
  font-size: 1.6rem;
  margin-top: 0.5em;
  margin-bottom: 0.67em; }

h5 {
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: normal;
  margin-top: 0.5em;
  margin-bottom: 0.67em; }

h6 {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: normal;
  margin-top: 0.5em;
  margin-bottom: 0.67em; }

/* --------------------------------------------------
  Other
-------------------------------------------------- */
a {
  text-decoration: none;
  color: #FFF; }

li {
  list-style: none;
  margin: 0; }

ul {
  margin: 0;
  padding: 0; }

/* --------------------------------------------------
General Styling
-------------------------------------------------- */
html {
  height: 100%; }

body {
  margin: 0;
  background-color: #FFF;
  height: 100%;
  overflow: auto; }

::-webkit-scrollbar {
  display: none; }

*, *:after, *:before {
  -webkit-box-sizing: border-box !important;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box !important;
  /* Firefox, other Gecko */
  box-sizing: border-box !important;
  /* Opera/IE 8+ */ }
  *:focus, *:after:focus, *:before:focus {
    outline: none; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.hidden {
  display: none; }

.content-wrapper {
  width: 100%;
  padding: 0px 30px; }
  @media (min-width: 1200px) {
    .content-wrapper {
      width: 1080px;
      margin: 0 auto;
      padding: 0; } }

/*---------------------------------------------------
Hacks
---------------------------------------------------*/
.group:after, html:after, .content-wrapper:after, .group-wrap:after, .topbar:after, .row:after, .section:after, .slider .slider__element:after {
  display: table;
  content: "";
  clear: both; }

.clear {
  clear: both; }

/* --------------------------------------------------
   Topbar
-------------------------------------------------- */
.topbar {
  width: 100%;
  background-color: transparent;
  z-index: 5;
  position: fixed;
  top: 0;
  text-align: center;
  height: 60px;
  color: #FFF; }
  .topbar .topbar__logoIcon {
    line-height: 60px;
    height: 60px;
    padding: 10px 5px 10px 10px;
    float: left; }
  .topbar .topbar__logoText {
    margin: 0;
    letter-spacing: 1px;
    float: left;
    line-height: 60px;
    color: #FFF;
    font-size: 18px;
    font-size: 1.8rem; }
  .topbar .topbar__menu {
    float: right;
    padding: 10px 20px;
    display: block;
    font-size: 30px;
    font-size: 3rem;
    line-height: 40px;
    cursor: pointer; }
    @media (min-width: 634px) {
      .topbar .topbar__menu {
        display: none; } }

.topbar--scrolled {
  background-color: #0191C8; }

.nav {
  text-align: center;
  display: none;
  float: none;
  margin-right: 0; }
  @media (min-width: 634px) {
    .nav {
      display: block !important;
      float: right;
      margin-right: 20px; } }
  .nav .nav__listItem {
    display: inline-block;
    background-color: #FFF;
    width: 100%;
    line-height: 45px; }
    @media (min-width: 634px) {
      .nav .nav__listItem {
        width: auto;
        line-height: 59px;
        background-color: transparent; } }
    .nav .nav__listItem .nav__link {
      text-transform: capitalize;
      color: #37A283;
      padding: 5px 10px;
      cursor: pointer;
      position: relative;
      font-weight: 400;
      font-size: 16px;
      font-size: 1.6rem;
      letter-spacing: 1px; }
      @media (min-width: 634px) {
        .nav .nav__listItem .nav__link {
          color: #FFF; } }
      .nav .nav__listItem .nav__link:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1); }
    .nav .nav__listItem .nav__link:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: -1px;
      left: 0;
      background-color: #37A283;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.2s ease-in-out 0s;
      transition: all 0.2s ease-in-out 0s; }
      @media (min-width: 634px) {
        .nav .nav__listItem .nav__link:before {
          background-color: #FFF; } }
    .nav .nav__listItem .nav__link--active:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1); }

/* --------------------------------------------------
   Footer
-------------------------------------------------- */
.footer {
  z-index: 5;
  width: 100%;
  background-color: #313538;
  padding: 40px 10px;
  padding-bottom: 10px;
  border-top: 10px solid #25282a; }
  .footer hr {
    border: none;
    border-top: 1px solid #494f53;
    margin: 30px 0;
    width: 100%; }

.row {
  width: 100%;
  color: #FFF;
  margin-bottom: 20px; }
  .row h4 {
    font-size: 20px;
    font-size: 2rem;
    margin-bottom: 5px; }
  .row p {
    font-size: 14px;
    font-size: 1.4rem;
    margin: 5px 0; }
  .row h5 {
    display: inline;
    margin-right: 10px; }
    @media (min-width: 768px) {
      .row h5 {
        margin-right: 30px; } }
  .row h6 {
    margin-top: 20px;
    color: #888; }
    @media (min-width: 634px) {
      .row h6 {
        text-align: right;
        margin-top: 0; } }

.social-media {
  margin-top: 15px;
  text-align: center; }
  @media (min-width: 768px) {
    .social-media {
      text-align: right; } }
  .social-media li {
    display: inline-block; }
    .social-media li a {
      padding: 5px;
      margin-left: 5px;
      color: #3BC889;
      font-size: 25px;
      font-size: 2.5rem; }
      .social-media li a:hover i {
        -webkit-transition: ease-in all 100ms;
        -webkit-transform: scale(1.3, 1.3);
        /* Safari */
        transform: scale(1.3, 1.3); }

.no-video .video-container video,
.touch .video-container video {
  display: none; }

.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important; }

.video-container {
  overflow: hidden; }
  .video-container video::-webkit-media-controls {
    display: none !important; }

.video-container .poster img {
  width: 100%;
  top: 0;
  position: absolute;
  min-height: 350px; }

.video-container .filter {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%; }

.video-container__video {
  position: fixed;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: -5; }

.video-container video.fillWidth {
  width: 100%; }

/* --------------------------------------------------
   Hero
-------------------------------------------------- */
.hero {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 90vh;
  min-height: 350px;
  margin: 0;
  color: #FFF;
  padding: 30px;
  text-align: left;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)); }
  @media (min-width: 634px) {
    .hero {
      padding: 110px 60px; } }
  .hero .hero__header {
    position: absolute;
    bottom: 175px;
    font-size: 50px;
    font-size: 5rem;
    margin-top: 160px;
    margin-bottom: 40px;
    color: #FFF;
    text-align: center; }
    @media (min-width: 634px) {
      .hero .hero__header {
        text-align: left;
        margin-top: 160px;
        margin-bottom: 40px;
        font-size: 65px;
        font-size: 6.5rem; } }
    .hero .hero__header b {
      font-weight: 800; }
  .hero .hero__subheader {
    font-size: 18px;
    font-size: 1.8rem;
    margin-top: 25px;
    transition: all 0.8s;
    position: absolute;
    bottom: 30px;
    width: 80%; }
    @media (min-width: 768px) {
      .hero .hero__subheader {
        width: 100%;
        font-size: 22px;
        font-size: 2.2rem; } }
  .hero .prompter {
    position: absolute;
    bottom: 80px;
    margin-top: 60px;
    margin-bottom: 40px;
    text-align: left;
    height: 55px;
    width: 100%; }
    .hero .prompter .promp-top.inactive {
      opacity: 0;
      top: -64px; }
    .hero .prompter .promp-top.active {
      top: -34px;
      opacity: 1; }
    .hero .prompter .promp-top, .hero .prompter .promp-bottom {
      position: absolute; }
    .hero .prompter .promp-bottom.inactive {
      opacity: 0;
      top: 25px; }
    .hero .prompter .promp-bottom.active {
      opacity: 1;
      top: 15px; }
  .hero .hero__button {
    text-align: center;
    font-size: 50px;
    font-size: 5rem;
    margin: 0 auto;
    width: 100%;
    color: #3BB479;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -60px;
    cursor: pointer;
    -webkit-animation: pulsate 2s ease-out;
    -webkit-animation-iteration-count: infinite; }

/* --------------------------------------------------
Content
-------------------------------------------------- */
.content {
  background-color: #FFF; }

/* --------------------------------------------------
   Sections
-------------------------------------------------- */
.section {
  text-align: center;
  background-color: #FFF;
  padding: 60px 0; }
  .section .section__header {
    color: #888;
    font-size: 30px;
    font-size: 3rem;
    font-weight: 800; }
  .section .section__header--black {
    color: #222; }
  .section .section__header--white {
    color: #FFF; }
  .section .section__sub-header {
    font-size: 24px;
    font-size: 2.4rem;
    font-weight: 500; }
  .section .section__sub-header--white {
    color: #FFF; }
  .section .section__text {
    padding: 10px;
    color: #8C8984;
    line-height: 37px;
    font-size: 22px;
    font-size: 2.2rem; }
    @media (min-width: 520px) {
      .section .section__text {
        padding: 10px 40px; } }
    @media (min-width: 768px) {
      .section .section__text {
        padding: 10px 80px; } }
  .section .section__text--small {
    font-size: 18px;
    font-size: 1.8rem; }
  .section .section__infographic {
    width: 100%;
    margin: 50px auto;
    display: none; }
    @media (min-width: 768px) {
      .section .section__infographic {
        display: block; } }
  .section .section__icon--blue {
    font-size: 90px;
    font-size: 9rem;
    margin: 45px auto;
    color: #0191C8; }
  .section .section__icon--red {
    font-size: 120px;
    font-size: 12rem;
    margin: 30px auto;
    color: #E66B5C; }
  .section .section__icon-border {
    margin: 50px auto;
    border-radius: 50%;
    background-color: #FFF;
    width: 180px;
    height: 180px; }

.section--green {
  background-color: #3BC889; }

.section--blue {
  background-color: #0191C8; }

.section--grey {
  background-color: #F4F4F4; }

.section--small-padding {
  padding: 10px 0; }

/* --------------------------------------------------
   Containers
-------------------------------------------------- */
.container {
  padding: 20px;
  position: relative;
  float: left;
  width: 100%; }
  .container .container__header {
    color: #444;
    font-size: 22px;
    font-size: 2.2rem; }
  .container .container__header--number {
    color: #444;
    font-size: 70px;
    font-size: 7rem;
    margin: 0;
    padding: 0; }
  .container .container__header--small {
    font-size: 20px;
    font-size: 2rem; }
  .container .container__header--large {
    font-size: 28px;
    font-size: 2.8rem; }
  .container .container__header--white {
    color: #FFF; }
  .container .container__header--align-center-left {
    text-align: center; }
    @media (min-width: 634px) {
      .container .container__header--align-center-left {
        text-align: left; } }
  .container .container__header--align-left {
    text-align: left; }
  .container .container__header--align-center-left {
    text-align: center; }
    @media (min-width: 634px) {
      .container .container__header--align-center-left {
        text-align: left; } }
  .container .container__text {
    color: #8C8984;
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 25px; }
  .container .container__text--small {
    font-size: 14px;
    font-size: 1.4rem; }
  .container .container__text--no-margin {
    margin: 0; }
  .container .container__text--white {
    color: #FFF; }
  .container .container__text--justify {
    text-align: justify; }
  .container .container__text--align-left {
    text-align: left; }
  .container .container__text--align-center-left {
    text-align: center; }
    @media (min-width: 634px) {
      .container .container__text--align-center-left {
        text-align: left; } }
  .container .container__text--align-center-left {
    text-align: center; }
    @media (min-width: 634px) {
      .container .container__text--align-center-left {
        text-align: left; } }
  .container .container__icon-border {
    margin: 0 auto;
    border: solid #8C8984 2px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: transparent; }
  .container .container__icon-border--small {
    width: 100px;
    height: 100px; }
  .container .container__icon-border--medium {
    width: 130px;
    height: 130px; }
  .container .container__icon-border--white {
    border: none;
    background-color: #FFF; }
  .container .container__icon-border--blue {
    border: none;
    background-color: #005B9A; }
  .container .container__icon-border--yellow {
    border: none;
    background-color: #FECD2F; }
  .container .container__icon-border--red {
    border: none;
    background-color: #E66B5C; }
  .container .container__icon-border--green {
    border: none;
    background-color: #83E1B6; }
  .container .container__icon {
    margin: 10px 0;
    font-size: 60px;
    font-size: 6rem;
    color: #8C8984; }
  .container .container__icon--small {
    font-size: 40px;
    font-size: 4rem;
    margin: 0; }
  .container .container__icon--medium {
    font-size: 80px;
    font-size: 8rem;
    margin: 25px 0; }
  .container .container__icon--large {
    font-size: 100px;
    font-size: 10rem;
    margin: 30px 0; }
  .container .container__icon--float-left {
    float: left; }
  .container .container__icon--white {
    color: #FFF; }
  .container .container__icon--red {
    color: #E66B5C; }
  .container .container__icon--yellow {
    color: #FECD2F; }
  .container .container__icon--blue {
    color: #0191C8; }
  .container .container__icon--green {
    color: #37A283;
    margin-top: 20px; }
  .container .container__icon--number {
    line-height: 85px; }
  .container .container__circle {
    overflow: hidden;
    width: 190px;
    height: 190px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
  .container .container__image {
    width: 65%; }
  .container .container__image--circle {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
  .container .container__image--small {
    width: 190px; }

.container--small-padding {
  padding: 5px 20px; }

.container--wide-padding {
  padding: 20px 100px; }

.container--third {
  width: 100%; }
  @media (min-width: 634px) {
    .container--third {
      width: 33.333333%; } }

.container--third-small {
  width: 33.33333%; }

.container--two-third {
  width: 100%; }
  @media (min-width: 634px) {
    .container--two-third {
      width: 66.666666666%; } }

.container--two-third-small {
  width: 66.666666666%; }

.container--long-third {
  width: 100%; }
  @media (min-width: 768px) {
    .container--long-third {
      width: 33.33333%; } }

.container--half {
  width: 100%; }
  @media (min-width: 634px) {
    .container--half {
      width: 50%; } }

.container--long-half {
  width: 100%; }
  @media (min-width: 768px) {
    .container--long-half {
      width: 50%; } }

.container--center-text {
  text-align: center; }

.container--center-left-text {
  text-align: center; }
  @media (min-width: 634px) {
    .container--center-left-text {
      text-align: left; } }

.container--breakpoint-sm-show {
  display: block; }
  @media (min-width: 768px) {
    .container--breakpoint-sm-show {
      display: none; } }

.container--breakpoint-sm-hide {
  display: none; }
  @media (min-width: 768px) {
    .container--breakpoint-sm-hide {
      display: block; } }

/* --------------------------------------------------
   Slider
-------------------------------------------------- */
.slider {
  width: 100%; }
  .slider .slider__text-wrap {
    padding: 0px;
    min-height: 330px;
    width: 100%;
    float: left;
    text-align: center; }
    @media (min-width: 520px) {
      .slider .slider__text-wrap {
        padding: 0;
        padding-top: 20px; } }
    @media (min-width: 634px) {
      .slider .slider__text-wrap {
        padding: 0;
        padding-top: 40px; } }
    @media (min-width: 768px) {
      .slider .slider__text-wrap {
        width: 50%;
        min-height: 380px;
        padding: 40px;
        padding-bottom: 0;
        text-align: left; } }
  .slider .slider__image {
    width: 50%;
    float: left; }
    @media (min-width: 634px) {
      .slider .slider__image {
        width: 25%; } }
  .slider .slider__icon {
    font-size: 25px;
    float: left; }
  .slider .slider__header {
    font-size: 30px;
    font-size: 3rem; }
  .slider .slider__text {
    font-size: 20px;
    font-size: 2rem;
    color: #444;
    line-height: 30px; }

/*# sourceMappingURL=application.css.map */
