/* --------------------------------------------------
   Sections
-------------------------------------------------- */

@include bem-block(section) {
	text-align: center;
	background-color: $white;
	padding: 60px 0;
	@extend .group;
    
	@include bem-element(header) {
		color: $grey6;
		@include font-size(30);
		font-weight:400;
	}


	@include bem-element(text) {
		padding: 10px;
		color: $grey-blue;
		line-height: 37px;
		@include font-size(22);
		
		@include breakpoint(small) {
			padding: 10px 40px;
		}

		@include breakpoint(medium) {
			padding: 10px 80px;
		}
	}
}

@include bem-block(section, grey) {
	background-color: $lightgrey;
}



/* --------------------------------------------------
   Containers
-------------------------------------------------- */

@include bem-block(container) {
	padding: 20px;
	position: relative;
	float: left;
	width: 100%;

	@include bem-element(header) {
		color:$grey4;
		@include font-size(22);
	}

	@include bem-element(text) {
		color: $grey-blue;
		@include font-size(18);
		line-height: 25px;
	}

	@include bem-element(text, small) {
		@include font-size(14);
	}

	@include bem-element(icon) {
		@include font-size(40);
		color: $grey-blue;
	}

	@include bem-element(icon, small) {
		@include font-size(25);
		color: $grey-blue;
	}


	@include bem-element(icon, scale, hover) {
		color:$grey4;
		-webkit-transition: all 0.2s ease; /* Safari and Chrome */
		-moz-transition: all 0.2s ease; /* Firefox */
		-o-transition: all 0.2s ease; /* IE 9 */
		-ms-transition: all 0.2s ease; /* Opera */
		transition: all 0.2s ease;
		-webkit-transform:scale(1.1); /* Safari and Chrome */
		-moz-transform:scale(1.1); /* Firefox */
		-ms-transform:scale(1.1); /* IE 9 */
		-o-transform:scale(1.1); /* Opera */
		transform:scale(1.1);
	}

	@include bem-element(icon, blue) {
		color: $blue2;
	}

	@include bem-element(icon, red) {
		color: $red1;
	}
	
	@include bem-element(icon, green) {
		color: $green2;
	}

	@include bem-element(icon, yellow) {
		color: $yellow1;
	}

	@include bem-element(icon, pink) {
		color: $pink1;
	}

	@include bem-element(icon, orange) {
		color: $orange1;
	}

	@include bem-element(image) {
		width: 80%;
	}
	
	@include bem-element(image, small) {
		width: 100%;
		border-radius:2px;	
	}

	@include bem-element(image-border) {
		width: 60%;
		overflow: hidden;
		border:10px solid $white;
		border-bottom:30px solid $white;
		margin: 0 auto;
		border-radius: 2px;
		@include prefix(box-shadow, 3px 6px 0 rgba(0,0,0,0.1));  
		
		@include breakpoint(small-medium) {
			width: 70%;
		}

		@include breakpoint(medium) {
			width: 60%;
		}	

		@include breakpoint(medium-large) {
			width: 100%;
		}
	}

	@include bem-element(image-border, $pseudo-class: hover) {
		-webkit-transition: all 0.2s ease; /* Safari and Chrome */
		-moz-transition: all 0.2s ease; /* Firefox */
		-o-transition: all 0.2s ease; /* IE 9 */
		-ms-transition: all 0.2s ease; /* Opera */
		transition: all 0.2s ease;
		transform:translate(0px, -2px);
	}

	@include bem-element(input) {
		width: 90%;
		height: 30px;
		padding: 8px;
		margin: 10px;
		border-style: none;
		color: $grey-blue;
		@include font-size(18);
		line-height: 25px;
		background-color: $lightgrey;

		@include breakpoint(medium) {
			width: 70%;
		}
	}

	@include bem-element(input, message) {
		height: 150px;
		resize: none;
	}
	
	@include bem-element(button-shadow) {
		position: relative;
		width: 50%;
		height: 50px;
		display: block;
		background-color: darken($blue2, 10%);
		margin: 5% auto;
		border-style: none;
		border-radius: 4px ;
		    
		@include breakpoint(medium) {
			width: 30%;
		}
	}

	@include bem-element(button) {
		position: relative;
		top: -6px;
		width: 100%;
		height: 100%;
		display: block;
		font-weight: 200;
		background-color: $blue2;
		margin: 5% auto;
		cursor: pointer;
		color: $white;
		@include font-size(18);
		border-style: none;
		border-radius: 4px ;
		transition: all 0.15s;
		-webkit-appearance: none;
	}	

	@include bem-element(button, $pseudo-class: hover) {
		top: -2px;
	}
}

@include bem-block(container, third) {
	width: 100%;
	
	@include breakpoint(small-medium) {
		width: 50%;
	}
	
	@include breakpoint(medium) {
		width: 33.333333%;
	}
}

@include bem-block(container, half) {
	width: 100%;
	
	@include breakpoint(small-medium) {
		width: 50%;
	}
}

@include bem-block(container, right) {
	float: left;

	@include breakpoint(medium) {
		float: right;
	}
}

@include bem-block(container, min-height) {
	min-height: 0;
	
	@include breakpoint(small-medium) {
		min-height: 262px;
	}

	@include breakpoint(medium) {
		min-height: 302px;
	}
}

@include bem-block(container, half-breakpoint-small-medium) {
	width: 100%;
	
	@include breakpoint(small-medium) {
		width: 50%;
	}
}

@include bem-block(container, half-breakpoint-medium-large) {
	width: 100%;
	padding: 0;

	@include breakpoint(medium-large) {
		width: 50%;
	}
}

@include bem-block(container, link) {
	cursor: pointer;
	height: 100%;
	
	&:hover {
		opacity: 0.9;
	}
}

/* --------------------------------------------------
   Slider
-------------------------------------------------- */
	    
@include bem-block(slider) {
	width: 100%;

	@include bem-element(element) {
		@extend .group;
	}

	@include bem-element(text-wrap) {
		padding: 0px;
		min-height: 330px;
		width: 100%;
		float: left;
		text-align: center;
		
		@include breakpoint(small) {
			padding: 0;
			padding-top: 20px;
		}
		
		@include breakpoint(small-medium) {
			padding: 0;
			padding-top: 40px;
		}
		
		@include breakpoint(medium) {
			width: 50%;
			min-height: 380px;
			padding: 40px;
			padding-bottom: 0;
			text-align: left;
		}
	}
	
	@include bem-element(image) {
		width: 50%;
		float: left;
		
		@include breakpoint(small-medium) {
			width: 25%;
		}
	}

	@include bem-element(icon) {
		font-size: 25px;
		float: left;
	}
	
	@include bem-element(header) {
		@include font-size(30);
	}

	@include bem-element(text) {
		@include font-size(20);
		color:$grey4;
		line-height: 30px;
	}
}
